#TamEnvelope {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 70px;

}

#TamEnvelopeReg {
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin-right: 70px;

}

#TamChave {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

#tamChaveREG {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}


#ImagemUsuario {
    text-justify: center;
    border-radius: 100%;


}



#CabecalhoBody {
    justify-content: center;
    background-color: aliceblue;
    font-size: 12;
    width: 375px;


    margin-top: 200px;
    size: 100px;


}






#HeaderId {
    border-top-style: solid;
    background-color: aliceblue;
    margin-top: -45px;


}




#idcontainer {
    justify-content: center;
    justify-items: center;


}



.idBODY {
    background-color: #CDD7BC;
    justify-content: center;
}

#rowbioextratus {
    justify-content: center;
    background-color: #CDD7BC;
    width: 378px;
    height: 100px;

}

#rowportal {
    background-color: #CDD7BC;
    width: 300px;
    height: 40px;
    font-size: 25px;
    color: green;
    margin-top: -40px;
    margin-left: 15px;
    justify-content: center;
}


.ExtratusLogin {
    justify-content: center;
    /* width: 100px;
    height: 400px; */
    font-size: 30px;
    color: green;
    margin-left: 68px;
    margin-top: 0px;
}

.BioLogin {
    color: rgb(25, 61, 25);
}


#email {


    min-width: 240px;
    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;


}



#password {

    min-width: 240px;
    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;



}

#name {
    min-width: 240px;
    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;
}

#password-confirm {
    min-width: 240px;
    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;
}

/*
#emaillogin {
    width: 200px;


}


#senhalogin {
    width: 0px;


}

*/

#submitilogin {
    justify-content: center;
}


/*
#caixaemaillabel {
    margin-right: 100px;
} */

#submitid {
    justify-content: center;

}


#usercheck {
    font-size: 20px;
    width: 100px;
    padding-left: 80px;



}

#question {
    font-size: 20px;
    width: 10px;
    padding-left: 0px;


}

#botaoesqueceu {
    margin-top: 10px;

}

.portallogin {
    /* justify-content: center; */
    font-size: 30px;
    color: green;
    margin-right: auto;

}


#NomeID {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 52px;
}


#checksenha {

    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 60px;
}


#registrarbotao {
    margin-top: 2px;
    margin-left: 14px;
    justify-content: center;
}

#userregistro {
    font-size: 20px;
    width: 40px;
    padding-left: 20px;

}

#idlogininform {
    justify-content: center;
    margin-left: 70px;


}


#navbarLogin {
    background-color: #CDD7BC !important;

}


#idfooter {
    margin-top: 120px !important;

}



#FormLogin {
    justify-content: center;
    margin-top: -130px;
}


#containerPortalBio {
    justify-content: center;
}


#resetsenha {

    justify-content: center;

}

#idchecknovasenha {
    font-size: 20px;
    width: 100px;
    padding-left: 80px;
}

#submitesquece {
    justify-content: center;


}
