/* #TamEnvelope {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 70px;

} */

/* #TamEnvelopeReg {
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin-right: 70px;

} */

/* #TamChave {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 70px;
} */




#ImagemUsuario {
    text-justify: center;
    border-radius: 100%;


}



#CabecalhoBody {
    justify-content: center;
    background-color: aliceblue;
    font-size: 12;
    width: 375px;

    margin-top: 320px;
    size: 100px;


}






#HeaderId {
    border-top-style: solid;
    background-color: aliceblue;
    margin-top: -45px;


}




#idcontainer {
    justify-content: center;
    justify-items: center;


}



.idBODY {
    background-color: #CDD7BC;
    justify-content: center;
}

/* 
#rowbioextratus {
    justify-content: center;
    background-color: #CDD7BC;
    width: 38px;
    height: 100px;

} */

#rowportal {
    background-color: #CDD7BC;
    width: 10p0x;
    height: 100px;
    font-size: 25px;
    color: green;
    margin-top: -130px;
    margin-left: 15px;
    justify-content: center;
}


.ExtratusLogin {
    justify-content: center;
    /* width: 100px;
    height: 400px; */
    font-size: 20px;
    color: green;
    margin-right: 25px;
}

.BioLogin {
    color: rgb(25, 61, 25);
}


#email {



    justify-content: center;



}



#password {
    justify-content: center;




}

/* 
#name {

    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;
}

#password-confirm {

    justify-content: center;
    padding-left: 30px;
    margin-right: 300px;
} */

/*
#emaillogin {
    width: 200px;


}


#senhalogin {
    width: 0px;


}

*/

#submitilogin {
    justify-content: center;
}


/*
#caixaemaillabel {
    margin-right: 100px;
} */

#submitid {
    justify-content: center;

}


#usercheck {
    font-size: 20px;





}

#question {
    justify-content: center;


}

#botaoesqueceu {
    margin-top: 10px;
    padding-left: 10px;



}

.portallogin {
    justify-content: center;
    font-size: 23px;
    color: green;
    margin-right: auto;
    width: 600px;
    height: 60px;
}

/* 
#NomeID {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 52px;
} */


/* #checksenha {

    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-right: 60px;
} */


/* #registrarbotao {
    margin-top: 2px;
    margin-left: 14px;
    justify-content: center;
} */

/* #userregistro {
    font-size: 20px;
    width: 40px;
    padding-left: 20px;

} */

#idlogininform {
    justify-content: center;



}


#navbarLogin {
    background-color: #CDD7BC !important;

}


#idfooter {
    margin-top: 120px !important;

}



#FormLogin {
    justify-content: center;
    margin-top: -180px;
}


#containerPortalBio {
    justify-content: center;
    /* background-color: aqua; */
    background-color: #CDD7BC;


    text-align: center;

}


#resetsenha {

    justify-content: center;

}

/* #idchecknovasenha {
    font-size: 20px;
    width: 100px;
    padding-left: 80px;
} */




#containerRecuSenha {
    background-color: #CDD7BC;
    text-align: center;



}
